extends layout

block content
	h2(class="text-2xl font-bold")!= title

	p(class="text-red-500")
		strong *Please confirm you want to delete this message!

	div(class="p-2 m-2 flex flex-col gap-4")
		h3(class="text-lg")
			strong!= message.title
		
		p!= message.content
		p(class="text-gray-500 text-xs italic") Sent by: #[strong #{message.user.fullname}]. At #{message.timestamp_formatted}


	div(class="my-8")
		form(method="post")
			div(class="flex items-center justify-end p-4")
				button(type="submit" class="font-bold text-white bg-red-500 px-4 py-2 rounded-md border border-white hover:border-red-500 hover:text-red-500 hover:bg-white transition-all") Delete
