extends layout

block content
  if user && user.admin 
    p Welcome, #{user.fullname}, you are an admin.

  else if user && user.member
    p Welcome, #{user.fullname}, you are a member.

  else if user 
    p Welcome, #{user.fullname}, you are a normal user.

  else
    p Welcome, you are an anonymous user.

  //- display links proper way
  div(class="flex gap-2 items-center justify-between text-sky-500 p-4")
    if user 
      //- normal
      if !user.member
        p 
          a(href=`/user/${user.id}/upgrade/member`) Upgrade membership
      else 
        p 
          a(href=`/user/${user.id}/downgrade/member`) Downgrade membership
      if !user.admin  
        p 
          a(href=`/user/${user.id}/upgrade/admin`) Upgrade admin
      else 
        p 
          a(href=`/user/${user.id}/downgrade/admin`) Downgrade admin
      p 
        a(href="/logout") Logout
      p 
        a(href=`/user/${user.id}/create`) New message

    else
      p 
        a(href="/login") Login
      p 
        a(href="/signup") Signup


  if messages.length !== 0
    ul(class="")
      each mess in messages
        li(class="my-4 mx-8 p-4 border rounded-lg relative")
          p 
            strong!= mess.title

          p!= mess.content
          if user  
            //- only logged in user can see delete btn
            div(class="absolute top-0 right-0") 
              a(href=`/message/${mess._id}/delete` class="text-white bg-red-500 rounded-full grid place-items-center w-6 h-6 m-2") X
            if user.member|| user.admin
              p 
                i(class="text-xs text-gray-500") Sent by:  #{mess.user.fullname}. At #{mess.timestamp_formatted}

            //- normal user
            else 
              i(class="text-xs") Upgrade 
                a(href=`/user/${user._id}/upgrade/member` class="text-sky-500") membership 
                | to see this message's details.
          //- anonymous user
          else 
            i(class="text-xs") Please 
              a(href="/login" class="text-sky-500") login 
              | to see this message's details and create your message


  else
    p There are no messages yet! 