extends layout

block content
  h2(class="text-lg")
    if user && user.admin 
      | Welcome, #[strong #{user.fullname}], you are an #[strong admin].

    else if user && user.member
      | Welcome, #[strong #{user.fullname}], you are a #[strong member].

    else if user 
      | Welcome, #[strong #{user.fullname}], you are a #[strong normal user].

    else
      | Welcome, you are an anonymous user.

  //- display links proper way
  div(class="flex gap-2 items-center justify-between p-4")
    if user 
      //- normal
      if !user.member
        p 
          a(href=`/user/${user.id}/upgrade/member` class="text-sky-500 transition-all hover:text-white hover:bg-sky-500 p-1 rounded underline underline-offset-4 decoration-dotted hover:decoration-solid font-bold") Be a member
      else 
        p 
          a(href=`/user/${user.id}/downgrade/member` class="text-sky-500 transition-all hover:text-white hover:bg-sky-500 p-1 rounded underline underline-offset-4 decoration-dotted hover:decoration-solid font-bold") Cancel membership
      if !user.admin  
        p 
          a(href=`/user/${user.id}/upgrade/admin` class="text-sky-500 transition-all hover:text-white hover:bg-sky-500 p-1 rounded underline underline-offset-4 decoration-dotted hover:decoration-solid font-bold") Be an admin
      else 
        p 
          a(href=`/user/${user.id}/downgrade/admin` class="text-sky-500 transition-all hover:text-white hover:bg-sky-500 p-1 rounded underline underline-offset-4 decoration-dotted hover:decoration-solid font-bold") Cancel adminship
      p 
        a(href="/logout" class="text-sky-500 transition-all hover:text-white hover:bg-sky-500 p-1 rounded underline underline-offset-4 decoration-dotted hover:decoration-solid font-bold") Logout
      p 
        a(href=`/user/${user.id}/create` class="text-sky-500 transition-all hover:text-white hover:bg-sky-500 p-1 rounded underline underline-offset-4 decoration-dotted hover:decoration-solid font-bold") New message

    else
      p 
        a(href="/login" class="text-sky-500 transition-all hover:text-white hover:bg-sky-500 p-1 rounded underline underline-offset-4 decoration-dotted hover:decoration-solid font-bold") Login
      p 
        a(href="/signup" class="text-sky-500 transition-all hover:text-white hover:bg-sky-500 p-1 rounded underline underline-offset-4 decoration-dotted hover:decoration-solid font-bold") Signup


  if messages.length !== 0
    ul(class="")
      each mess in messages
        li(class="my-4 mx-8 p-4 border border-gray-50 rounded-lg relative shadow-lg")
          p 
            strong!= mess.title

          p!= mess.content
          if user  
            //- only logged in user can see delete btn
            div(class="absolute top-0 right-0") 
              a(href=`/message/${mess._id}/delete` class="text-white bg-red-500 rounded-full grid place-items-center w-6 h-6 m-2 border border-white hover:border-red-500 hover:text-red-500 hover:bg-white transition-colors") X
            if user.member|| user.admin
              p 
                i(class="text-xs text-gray-500") Sent by:  #{mess.user.fullname}. At #{mess.timestamp_formatted}

            //- normal user
            else 
              i(class="text-xs")
                a(href=`/user/${user._id}/upgrade/member` class="text-sky-500 transition-all hover:text-white hover:bg-sky-500 p-1 rounded underline underline-offset-4 decoration-dotted hover:decoration-solid font-bold") Be a member
                |to see this message's details.
          //- anonymous user
          else 
            i(class="text-xs") Please
              a(href="/login" class="text-sky-500 transition-all hover:text-white hover:bg-sky-500 p-1 rounded underline underline-offset-4 decoration-dotted hover:decoration-solid font-bold") login
              |to see this message's details and create your message


  else
    p(class="text-lg") There are no messages yet! 